* {margin:0px; padding:0px;}
body {width:960px;margin:0px auto;background: gray;}
#page {background:white; height: fit-content;}
h1, h5, h3 {text-align: center; padding-top: 50px;}
table {margin:0px auto; margin-top: 50px; border-collapse: collapse;}
table td, th {border:1px solid rgba(0, 0, 0, 0.637); padding:10px;}
#buttons {width: 600px; margin:0px auto; text-align:center; padding:20px;}
#buttons .button, button { /*버튼 스타일*/
    width:80px; 
    padding:5px; 
    background:rgb(228, 158, 28);
    color:white;
    border-radius: 5px;
    border:none;
    cursor: pointer;
}

input[type="text"], input[type="password"] 
{ padding: 5px;  border: 1px solid rgba(0, 0, 0, 0.596);}

a {text-decoration: none;  font-size:15px; color: black; font: border;}
a:hover {color: red;}

#menu {padding: 10px; border:1px dotted gray; margin-top:20px; margin-bottom: 20px; text-align: center;}

.row:hover {background: gray; color: white;}

.title, .top{background-color: rgba(46, 42, 42, 0.705); color: white;}

button:disabled{background-color: gray;}

.button , input[type="button"]{width:80px; 
    padding:5px; 
    background:rgb(46, 42, 42); 
    color:white;
    border-radius: 5px;
    border:none;
    cursor: pointer;}

.small{
    border-radius: 5px;
    background-color: red;
    color: white;
    padding: 3px;
    font-size: 13px;
    cursor: pointer;
}

.small:hover{background-color: cornflowerblue;}