<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h3><a href="/score">성적관리</a></h3>
    <h3><a href="/camp">캠핑장관리</a></h3>
    <h3><a href="/address">주소관리</a></h3>
  </body>
</html>
