<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.1/handlebars.js"></script>
  </head>
  <body>
    <div id="page">
      <div id="top">
        <h1><%= title %></h1>
        <img src="/images/back.jpg" width="960">
      </div>
      <div id="menu">
        <a href="/">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/product/insert">상품목록</a>
      </div>
      <div id="center">
        <%-include(pageName)%>
      </div>
      <div id="botttom"><h5>CopyRight 2022. 인천일보아카데미 Reserve All Right.</h5></div>
    </div>
  </body>
</html>
