<style>
    #container{width: 900px; overflow: hidden; margin: 0px auto;}
    .box
    {
        float: left; 
        width: 200px; 
        height: 220px;
        border: 1px solid rgba(0, 0, 0, 0.473); 
        margin: 5px; border-radius: 10px; 
        padding: 6px; 
        text-align: center;
        background-color:rgb(228, 148, 28);
        color: black;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .box h4{color: rgba(255, 255, 255, 0.89); background-color: rgba(0, 0, 0, 0.849); padding: 2px;}
</style>

<div id="container"></div>
<script id="temp" type="text/x-handlebars-template">
  {{#each rows}}
  <div class="box" onclick="location.href='/food/read?code={{code}}'">
    <img src="{{image}}" width="150">
    <div><h4>[ {{code}} ] : {{title}}</h4></div>
    <div>{{fprice}}원</div>
  </div>
  {{/each}}
</script>

<div id="buttons">
    <button id="prev">이전</button>
    <span id="curpage">1/2</span>
    <button id="next">다음</button>
</div>

<script>
    var page=1;
    getFood();

    //이전버튼을 클릭한 경우
    $("#prev").on("click", function(){
        page--;
        getFood();
    });
    //다음버튼을 클릭한 경우
    $("#next").on("click", function(){
        page++;
        getFood();
    });

    function getFood(){
      $.ajax({
        type : "get",
        dataType : "json",
        url : "/food/list",
        data : {page:page},
        success:function(data){
          var template = Handlebars.compile($("#temp").html());
          $("#container").html(template(data));

           //마자막페이지
           var lastPage=Math.ceil(data.total/4);
                $("#curpage").html(page + "/" + lastPage);

                if(page==1){
                    $("#prev").attr("disabled", true);
                }else{
                    $("#prev").attr("disabled", false);
                }

                if(page==lastPage){
                    $("#next").attr("disabled", true);
                }else{
                    $("#next").attr("disabled", false);
                }
        }
    });
    }
  </script>